@font-face {
	font-family: ucFont;
	src: url(../fonts/TrajanPro-Bold.ttf);
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: #404040;
	border: none;
}

.navbar-brand > img {
	display: inline-block;
	padding-right: 10px;
}

@media (min-width: 992px) {
	.navbar-brand {
		font-size: 24px;
		padding: 15px 15px;
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		font-size: 20px;
		padding: 15px 10px;
	}
	.navbar-brand > img {
		display: inline-block;
		padding-right: 10px;
	}
}

@media (max-width: 400px) {
	.navbar-brand {
		font-size: 16px;
	}
	.navbar-toggle {
		margin-right: 5px;
	}
}

.navbar-default .navbar-brand {
	color: #FFFF00;
	font-family: ucFont;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
	background-color: #262626;
	text-decoration: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #FFFFFF;
	background-color: #404040;
	text-decoration: none;
}
 button {
 	color: #CCCCCC;
 }

#yellow {
	height: 5px;
	background-color: #FFFF00;
}

section {
	padding-top: 5px;
	padding-bottom: 5px;
}

section.container {
	width: 100%;
}

@media (min-width: 768px) {
	.moveleft {
		right: 20px;
	}
	.moveright {
		left: 20px;
	}
}

@media (max-width: 768px) {
	.uec_image {
		padding-top: 20px;
		padding-bottom: 40px;
	}
}

.uec_image img {
	display: inline-block;
	max-width: 100%;
}

.w_background {
	background-color: #FFFFFF;
}

.g_background {
	background-color: #CCCCCC;
}

.uec_brands {
	display: inline-block;
	padding: 10px 0 10px 0;
}

.uec_brands p {
	color: #000000;
	text-align: justify;
}

.uec_brands h3 {
	text-align: center;
}

footer {
	padding: 70px 0 70px 0;
}

footer,
footer a {
	background-color: #4C4C4C;
	color: #FFFFFF;
}

.h5 {
	font-weight: bold;
	letter-spacing: .15px;
	text-transform: uppercase;
}

footer a:hover,
footer a:focus {
	color: #FFFF00;
	text-decoration: underline;
}

footer ul li {
	position: relative;
}

footer .glyphicon {
	position: absolute;
	bottom: 10px;
	left: 0;
}

footer ul p {
	display: inline-block;
	padding-left: 30px;
}

ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-padding-start: 0px;
}